body {
    
    background-image: url(other_background.png);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top center;
}


h1 {
    color: ;
    font-family: Arial, Helvetica, sans-serif;
}